body {
	/* background-color: white; */
	font-family: Assistant;
		text-align: center;

}

@media (min-width: 376px) and (max-width: 1536px) {

.linkList {
font-weight: bold

}
.headerBox {
	width: 100%;
	height: 50%;
	background-color: white;
	margin: -0% -5% 0% -1%;
}

.testNav {
	width: inherit;
	float: right;
	margin-right: 2%;
	background-color: white !important;
	
}
ul {
	float: left;
}

.bigWrapper {
	background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/colorful-circuit-board-technology-animated-background-video-graphic-design-ultra-hd-4k-3840x2160_hwlancsf__F0000.png");
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 750px;
	margin-bottom: 2%;

}

.headshot {
	width:300px;
	height:300px;
	float: left;
	padding-bottom: 5%;
}

.buttonWrapper {
	margin-top: 150px;
}
.introButton {
	padding-top: 1%;
	border-style: none;
	border-radius: 9px;
	margin-right: 4%;
	width: 200px;
	color: white;
	height: 55px;
}

.communitySyncLogo {
	margin-right: 60%;
	margin-bottom: 10%;
}


}


