body {
	/* background-color: white; */
	font-family: Assistant;
		text-align: center;

}

@media (min-width: 100px) and (max-width: 2636px) {


.headerBox {
		
}

.testNav {
	width: inherit;
	float: right;
	margin-right: 2%;
	background-color: white !important;
	
}
ul {
	float: left;
}

.bigWrapper {
	background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/colorful-circuit-board-technology-animated-background-video-graphic-design-ultra-hd-4k-3840x2160_hwlancsf__F0000.png");
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 550px;
	margin-bottom: 2%;
	margin-top: -2%;

}

.headshot {
	width:275px;
	height:270px;
	padding-left: 2%;
	float: left;
	padding-bottom: 5%;
	margin-right: 11.5%;
}

.buttonWrapper {
	margin-top: 150px;
}
.introButton {
	padding-top: 1%;
	border-style: none;
	border-radius: 9px;
	margin-right: 1%;
	width: 200px;
	color: white;
	height: 55px;
}

.container {
	

 
}

.overlay {
  position: absolute;
  margin-left: 10%;
  margin-top: -10%;
  height: 50%;
  width: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #A840C1;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.communitySyncLogo {
	margin-right: 60%;
	margin-bottom: 2%;
	height: 30%;
	width: 30%;
}

.WitbugLogo {
	/* Lazy way without wrapping to align witbug fullscreen
	float: right;
	margin-top: -45%;
	margin-right: 10%;
	*/
	display: inline;

	margin-right: 15%;
	margin-top: -32%;
	margin-left: 50%;

	height: 25%;
	width: 25%;

}


/*.dummyPic {
	float: left;
	height: 30%;
	width: 30%;
	margin-top: 20%;
	margin-left: 10%;
}*/

.dummyPic1 {
	margin: 5% 35% 10% 10%;
	float: right;
	height: 40%;
	width: 40%;
	display: inline;
}


.imageWrapper {
	margin-top: -45%;
	display: inline;

}

.javaLogo {
	height: 15%;
	width: 15%;
	float: left;
	margin-left: 5%;
}
}

}


}


